<h1>xunk-calendar</h1>
This is an example for xunk-calendar, a simple calendar for Angular 5+ and Angular Material. 
If you want it in your project, head over to <a href="https://github.com/radialapps/xunk-calendar"> the github repo </a>

<br><br>

<div class="calendar-container mat-elevation-z3">
    <xunk-calendar [selectedDate]="selDate"></xunk-calendar>
</div>

<br>
Selected Date is {{ selDate.year }}-{{ selDate.month + 1}}-{{ selDate.date }}
<br><br>
Getting this was as simple as
<pre ngNonBindable>
Selected Date is {{ selDate.year }}-{{ selDate.month + 1}}-{{ selDate.date }}
</pre>