.xunk-calendar {
    width:100%;             /* fill all space */
    padding-top: 12px;      /* static padding */
    padding-bottom: 12px;
}

.xunk-calendar-cell {
    text-align: center;
}

.xunk-calendar-day {
    -webkit-transition: background-color 100ms linear, color 100ms linear;
    -ms-transition: background-color 100ms linear, color 100ms linear;
    transition: background-color 100ms linear, color 100ms linear;
}
