<table class="xunk-calendar">

  <!-- Header for changing month -->
  <tr>
      <!-- Previous month button -->
      <th>
          <button mat-icon-button (click)="changeMonth(-1)">
              <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
      </th>

      <!-- Month label -->
      <th colspan=5>{{monthNames[openPage.month]}} {{openPage.year}}</th>

      <!-- Next month button -->
      <th>
          <button mat-icon-button (click)="changeMonth(1)">
              <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
      </th>
  </tr>

  <!-- Weekday headers -->
  <tr style="color: #aaa; font-size: 10pt;">
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
  </tr>

  <!-- The real calendar -->
  <tr *ngFor="let row of calendar">
      <td class="xunk-calendar-cell" *ngFor="let col of row">
          <ng-container *ngIf="col">

              <ng-container *ngIf="isFab(col); else notFab">
                  <button mat-mini-fab
                          [color]="isFab(col)"
                          (click)="selectDay(col)"
                          style="box-shadow: none">
                      {{col}}
                  </button>
              </ng-container>

              <ng-template #notFab>
                  <button mat-icon-button [color]="isToday(col)"
                         (click)="selectDay(col)">
                    <ng-container *ngIf="isToday(col); else notToday"><b>{{col}}</b></ng-container>
                    <ng-template #notToday>{{col}}</ng-template>
                  </button>
              </ng-template>

          </ng-container>
      </td>
  </tr>
</table>